<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :breed %><br>
    <%= f.collection_select(:breed_id, Breed.all, :id, :name) %><br>
    <%= f.label :quality %><br>
    <%= radio_button_tag("pet[quality]", "Poor") %>
      <%= label_tag(:quality_poor, "Poor") %><br>
    <%= radio_button_tag("pet[quality]", "Common") %>
      <%= label_tag(:quality_common, "Common") %><br>
    <%= radio_button_tag("pet[quality]", "Uncommon") %>
      <%= label_tag(:quality_uncommon, "Uncommon") %><br>
    <%= radio_button_tag("pet[quality]", "Rare") %>
      <%= label_tag(:quality_rare, "Rare") %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
