<!DOCTYPE html>
<html>
<head>
  <title>BattlePets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    #pet_error { display: none; }
  </style>
  <script>
$(document).ready(function() {
  $("#pet_name").on("blur", function() {
    var valid = true;
    $.ajax({
      url: "/pets.json",
      success: function(data) {
        for(i=0; i < data.length; i++) {
          if (data[i].name == $("#pet_name").val()) {
              $("#pet_error").show();
              valid = false
              break;
          }
        }
        if (valid) {
          $("#pet_error").hide();
        }
      }
    });
  });    
});
  </script>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  Logged in as <%= current_user.email %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
